// Make navbar for each area flush to the top
body > div.container-fluid > main {
	padding-top: 0 !important;
}

// Mobile paddings
@include respond-below(md) {
	body > div.container-fluid  {
		padding-left: 0.3rem !important;
		padding-right: 0.3rem !important;	
		> main {
			padding-left: 0.3rem !important;
			padding-right: 0.3rem !important;	
		}
	}
}